.header {
  background-color: #c4c4c4;
  border-bottom: 1px solid #c0c0c0;
}

.cell {
  border-left: 1px solid #c0c0c0;
}

.button {
  margin-bottom: 10px;
  border: none;
  border-radius: 3px;
  background-color: #b0c4de;
  box-shadow: 0 5px 5px rgba(0,0,0,0.25);
  color: #fff;
  width: 10em;
}
