.checkbox {
  text-align: center;
  border-bottom: 1px solid #c0c0c0;
  border-left: none;
  border-right: none;
}

.cell {
  text-align: right;
  border-bottom: 1px solid #c0c0c0;
  border-left: none;
  border-right: none;
}

.checked {
  background-color: #edf4fc;
}